// Here you can add other styles
.sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
  color: #fff !important;
}

body {
  font-size: 12px;
  font-weight: 600;
}

.breadcrumb-menu .btn {
  padding-top: 0.60rem;
  padding-bottom: 0.5rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  padding-top: 0.5rem;
}

.btn-danger {
  color: #fff !important;
  background-color: #c00000;
  border-color: #c00000;
}

.bg-danger {
  background-color: #c00000;
  border-color: #740000;
}

.btn-danger:hover {
  background-color: #da0000;
  border-color: #c00000;
}

.btn-info {
  color: #FFF;
  background-color: #63c2de;
  border-color: #63c2de;
}

.btn-info:hover {
  color: #FFF;
  background-color: #43b6d7;
  border-color: #39b2d5;
}

.btn .badge {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 9px;
}

.top .notific8-notification {
  margin-top: 1.625em;
}

.notific8-notification.family-materialish.lilrobot,
.notific8-notification.materialish.lilrobot {
  background-color: #28a745 !important;
  color: #eee;
}

.cart-table-hover tbody tr:hover {
  background-color: #e6f6fb;
  cursor: pointer;
}

.card-body-order, .card-block, .card-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.4rem;
}

.cart-footer {
  display: block;
  width: 100%;
  padding: 0.20rem 0.5rem;
  clear: both;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: #e7e7e7;
  border-top: 1px solid #acacac;
}

a:hover {
  color: #167495;
  text-decoration: none;
}

.selected_order {
  background-color: #d9534f !important;
  color: white !important;
}

.item {
  cursor: pointer;
}

.order-table td {
  border-top: none;
}

#ajaxSpinnerContainer {
  position: absolute;
  width: 97.5%;
  height: 100%;
  z-index: 21;
  background-color: rgba(255,255,255, 0.45);
}

#ajaxSpinner {
  background: url("/img/backend/spinner.gif") no-repeat center;
  width: 100%;
  height: 100%;
}

.from-card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f0f3f5;
  border: 1px solid #c2cfd6;
}

.form-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #c2cfd6;
  padding-bottom: 0.5rem;
}

.form-card-header + .bg-success {
  border-color: #01c775
}


.card.bg-success {
  border-color: #379457;
}
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger, .bg-inverse {
  color: #000000;
}
.card {
  margin-bottom: 1.5rem;
}
.bg-success {
  background-color: #4dbd74 !important;
}

.card.bg-success .form-card-header {
  background-color: #44b76c;
  border-color: #379457;
  color: #fff;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

.btn {
  font-weight: 600;
}

.card-header-cashflow {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 3px solid #c2cfd6;
}